{{template "header.html"}}
<script src="/public/js/account.js"></script>
<div class="container">
    <h2>You have the following things in your account.</h2>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Euros</td>
            <td>
                {{ with .User }}{{ .Credit }}{{ end }}<i class="bi bi-currency-euro"></i>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-pencil"></i>
                </button>
            </td>
        </tr>
        {{ with .Goods }}
        {{ range . }}
        <tr>
            <td>{{ .Name }}</td>
            <td>
                {{ .Value }}
                <button onclick="evt=>{saveAmountPopUp({{ .ID }}, evt)}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-pencil"></i>
                </button>
            </td>
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="amountInput" class="form-label">New Amount</label>
                    <input id="amountInput" type="number" class="form-control" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveAmount">Save changes</button>
            </div>
        </div>
    </div>
</div>

{{template "footer.html"}}