{{template "header.html"}}

<div class="container">
    <h2>Details</h2>
    {{ with .Good }}
    <table class="table table-striped">
        <tbody>
            <tr><td>Name</td><td>{{ .Name }}</td></tr>
            <tr><td>Description</td><td>{{ .Description }}</td></tr>
            <tr><td>Course</td><td>{{ .CurrentCourse }}<i class="bi bi-currency-euro"></i></td></tr>
        </tbody>
    </table>
    {{ end }}
    <script src="/public/js/coursePlot.js" defer></script>
    <div id='coursePlot'><!-- Plotly chart will be drawn inside this DIV --></div>

</div>

{{template "footer.html"}}